.vertical-scroll{
  margin-right: auto;
}
.vertical-scroll-wrap{
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 330px;
  perspective: 100px;
  transform-style: preserve-3d;
}

.vertical-scroll__button{
  border: none;
  background: none;
  padding: 0;
  height: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

.vertical-scroll__control-arrow{
  border: solid #5E89FE;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 7px;
  transition: .01s;
  &:hover{
    filter: brightness(50%);
  }
  &.arrow-up{
    transform: rotate(-135deg);
  }
  &.arrow-down{
    transform: rotate(45deg);
  }
}

.vertical-scroll__pointer{
  position: absolute;
  top: 200px;
  width: 250px;
  height: 100px;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 20px;
  &:after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 9px;
    left: 193px;
    width: 82px;
    height: 82px;
    display: block;
    border-radius: 20px;
    transform: rotate(45deg);
    background-color: #EDEDED;
  }
}
