.day-cell__container{
  list-style: none;
  width: 250px;
  height: 133px;
}

.day-cell{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: auto;
  border-radius: 20px;
}

.day-cell-active{
  background-color: #EDEDED;
  position: relative;
  &:after{
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 193px;
    width: 82px;
    height: 82px;
    display: block;
    border-radius: 20px;
    transform: rotate(45deg);
    background-color: #EDEDED;
  }
}

.day-cell__content{
  width: calc(50% - 4px);
}

.day-cell__vertical-line{
  height: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 4px solid rgba(196, 196, 196, 0.3);
}
