.day-cell__container{
  list-style: none;
  width: 250px;
  height: 100px;
  transition: .2s;
  z-index: 9999;
  &:hover{
    cursor: pointer;
    transform: translateZ(5px);
  }
}

.day-cell{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: auto;
  border-radius: 20px;
}


.day-cell__content{
  width: calc(50% - 4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.day-cell__date{
  font-size: 48px;
  margin: 0;
}
.day-cell__day-name{
  margin: 0;
  font-size: 18px;
}

.day-cell__vertical-line{
  height: 70%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 4px solid rgba(196, 196, 196, 0.3);
}
