// SLIDER
.small-slider{
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 15px;
  height: 44px;
  background-color: #C4C4C4;
  opacity: .3;
}

//elements-container
.slider-elements{
  width: 200px;
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

//slider track
.slider-track{
  height: 100%;
  display: flex;
}

//slider elem
.slider-elem{
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #5E89FE;
}

// ARROWS
.slider-arrow{
  cursor: pointer;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 7px;
  transition: .01s;
  background: none;
  &:focus{
    outline: none;
  }
  &:hover{
    border-color: black;
    filter: brightness(1%);
  }
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
