.header{
  height: 93px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  box-sizing: border-box;
}

.header__mops__logo{
  flex-grow: 0;
  display: flex;
  align-items: center;
  height: 85px;
  margin-right: 10px;
}
