.header__navbar {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  justify-items: center;
  column-gap: 1rem;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //padding: 0 2rem;
}

.header__navbar-btn {
  width: 145px;
  line-height: 44px;
  border: none;
  border-radius: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #5E89FE;
  cursor: pointer;
  opacity: .7;
}

.header__navbar-icon {
  margin-right: 20px;
}


