.login-page-content{
  display: flex;
  justify-content: space-between;
  color: white;
  width: 1440px;
  margin: 0 auto;
}
// IMAGE STYLES
.login-page__login-girl{
  top:0;
  right: 0;
  width: calc(100% - 600px);
}

// login and telegram container
.login-page__inputs-container{
  width: 474px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-self: flex-start;
}

// INPUT AND TELEGRAM BUTTON
.login-page__input-block{
  width: 304px;
  height: 80px;
  border-radius: 30px;
  color: white;
  font-size: 1.4rem;
  box-sizing: border-box;
}


// TELEGRAM BUTTON
.login-page__telegram-login-button{
  background-color: rgba(15,133,192,0.5);
  text-align: center;
  margin-bottom: 51px;
}
// INPUT todo contact with Masha about design
.login-page__group-input{
  margin-left: auto;
  color: black;
  position: relative;
  &:focus{
    outline: none;
  }
}

#group-input{
  border-radius: 7px;
  border: 1px solid blue;
  box-sizing: border-box;
  padding: 0 7px;
  &:focus, &:valid{
    &~#group-input-label{
      top:0;
      transform: translateY(calc(-15px)) translateX(-10px) scale(0.7);
    }
  }
}

#group-input-label{
  background-color: white;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
}

// media
@media (max-width: 1440px) {
  .login-page-content{
    width: 100%;
    margin: 0;
  }
}


