.calendar{
  border: 1.5px solid #FFE985!important;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px;
}

//.react-calendar__navigation__arrow{
//  display: none;
//}
