name: Publish on Docker Hub and Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_pub:
    # Если тесты были пройдены успешно
    runs-on: ubuntu-latest
    env:
      LOGIN: ${{ secrets.DOCKER_LOGIN }}
      NAME: ${{ secrets.DOCKER_NAME }}
    steps:
      - name: Login to docker.io
        # Сначала мы логинимся в docker.io
        run:  echo ${{ secrets.DOCKER_PWD }} | docker login -u ${{ secrets.DOCKER_LOGIN }} --password-stdin
        # Чекаутим код
      - uses: actions/checkout@master
      - name: Build image
        # Собираем image и называем его так как указано в hub.docker т.е. login/repository:version
        run: docker build -t $LOGIN/$NAME:${GITHUB_REF:11} -f ./Rozklad.V2/Dockerfile ./Rozklad.V2
      - name: Push image to docker.io
        # Пушим образ в registry
        run: docker push $LOGIN/$NAME:${GITHUB_REF:11}

  deploy :
    needs: build_and_pub
    runs-on: ubuntu-latest
    steps:
      - name: Set tag to env
        env:
          RELEASE_VERSION: ${GITHUB_REF}
        run: echo $RELEASE_VERSION
      - name:
        uses: appleboy/ssh-action@master
        with:
          host : ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USER }}
          password : ${{ secrets.HOST_PASSWORD }}
          port: "22"
          script: |
            docker rm $(docker stop $(docker ps -a -q --filter ancestor=${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:master --format="{{.ID}}"))
            docker pull ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:main
            docker run -dit -p 3000:80 ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:main
